doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style(type='text/css')
    include mail.css
// span.mcnPreviewText(style='display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;')
center
  table#bodyTable(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
    tr
      td#bodyCell(align='center' valign='top')
        table.templateContainer(border='0' cellpadding='0' cellspacing='0' width='100%')
          tr
            td#templatePreheader(valign='top')
          tr
            td#templateHeader(valign='top')
              table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                tbody.mcnTextBlockOuter
                  tr
                    td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                      table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%;' width='100%')
                        tbody
                          tr
                            td.mcnTextContent(valign='top' style='padding: 0px 18px 9px; font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; line-height: 100%;')
                              h2.null
                                span(style='font-family:helvetica neue,helvetica,arial,verdana,sans-serif') #{msg.title}
              table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                tbody.mcnTextBlockOuter
                  tr
                    td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                      table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%;' width='100%')
                        tbody
                          tr
                            td.mcnTextContent(valign='top' style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;')
                              #gtx-trans(style='position: absolute; left: 119px; top: 40.84px;')
                                h1.null &nbsp;
          tr
            td#templateBody(valign='top')
              each repo in repos
                table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                  tbody.mcnTextBlockOuter
                    tr
                      td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                        table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%;' width='100%')
                          tbody
                            tr
                              td.mcnTextContent(valign='top' style='padding: 0px 18px 9px; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;')
                                h4.null
                                  a(href='http://github.com/' + repo.owner + '/' + repo.name target='_blank')
                                    strong #{repo.owner}/#{repo.name} (#{repo.commits.length})
                if repo.commits.length
                  each commit in repo.commits
                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                      tbody.mcnTextBlockOuter
                        tr
                          td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                            table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%;' width='100%')
                              tbody
                                tr
                                  td.mcnTextContent(valign='top' style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;')
                                    span(style='font-size:16px')
                                      a(href=commit.url) #{commit.message}
                                    br
                                    span(style='font-size:14px') #{commit.author.name}
                                    #gtx-trans(style='position: absolute; left: 88px; top: -7.36px;')
                                      .gtx-trans-icon &nbsp;
                else
                  p #{msg.noCommits}
                table.mcnDividerBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                  tbody.mcnDividerBlockOuter
                    tr
                      td.mcnDividerBlockInner(style='min-width:100%; padding:18px;')
                        table.mcnDividerContent(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%;border-top: 2px solid #EAEAEA;')
                          tbody
                            tr
                              td
                                span
          tr
            td#templateFooter(valign='top')
              table.mcnFollowBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                tbody.mcnFollowBlockOuter
                  tr
                    td.mcnFollowBlockInner(align='center' valign='top' style='padding:9px')
                      table.mcnFollowContentContainer(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                        tbody
                          tr
                            td(align='center' style='padding-left:9px;padding-right:9px;')
                              table.mcnFollowContent(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                                tbody
                                  tr
                                    td(align='center' valign='top' style='padding-top:9px; padding-right:9px; padding-left:9px;')
                                      table(align='center' border='0' cellpadding='0' cellspacing='0')
                                        tbody
                                          tr
                                            td(align='center' valign='top')
                                              table(align='left' border='0' cellpadding='0' cellspacing='0' style='display:inline;')
                                                tbody
                                                  tr
                                                    td.mcnFollowContentItemContainer(valign='top' style='padding-right:10px; padding-bottom:9px;')
                                                      table.mcnFollowContentItem(border='0' cellpadding='0' cellspacing='0' width='100%')
                                                        tbody
                                                          tr
                                                            td(align='left' valign='middle' style='padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;')
                                                              table(align='left' border='0' cellpadding='0' cellspacing='0' width='')
                                                                tbody
                                                                  tr
                                                                    td.mcnFollowIconContent(align='center' valign='middle' width='24')
                                                                      a(href='https://github.com/namhyun-gu/repo-watcher' target='_blank')
                                                                        img(src='https://cdn-images.mailchimp.com/icons/social-block-v2/dark-github-48.png' alt='GitHub' style='display:block;' height='24' width='24')
                                                                    td.mcnFollowTextContent(align='left' valign='middle' style='padding-left:5px;')
                                                                      a(href='https://github.com/namhyun-gu/repo-watcher' target='' style='font-family: Helvetica;font-size: 12px;text-decoration: none;color: #656565;') GitHub
                                              table(align='left' border='0' cellpadding='0' cellspacing='0' style='display:inline;')
                                                tbody
                                                  tr
                                                    td.mcnFollowContentItemContainer(valign='top' style='padding-right:0; padding-bottom:9px;')
                                                      table.mcnFollowContentItem(border='0' cellpadding='0' cellspacing='0' width='100%')
                                                        tbody
                                                          tr
                                                            td(align='left' valign='middle' style='padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;')
                                                              table(align='left' border='0' cellpadding='0' cellspacing='0' width='')
                                                                tbody
                                                                  tr
                                                                    td.mcnFollowIconContent(align='center' valign='middle' width='24')
                                                                      a(href='mailto:mnhan0403@email.com' target='_blank')
                                                                        img(src='https://cdn-images.mailchimp.com/icons/social-block-v2/dark-forwardtofriend-48.png' alt='Email' style='display:block;' height='24' width='24')
                                                                    td.mcnFollowTextContent(align='left' valign='middle' style='padding-left:5px;')
                                                                      a(href='mailto:mnhan0403@email.com' target='' style='font-family: Helvetica;font-size: 12px;text-decoration: none;color: #656565;') Email